---
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const furniturePosts = await getCollection("mechanizmy-wyjazdu");
---

<Base title="Mechanizmy Wyjazdu">
    
  {furniturePosts.map((post) => 
  <h2>{post.data.title}</h2>
  <p>{post.data.description}</p>
  <img src={post.data.image.src} alt={post.data.image.alt}>
  <img src={post.data.image2.src} alt={post.data.image2.alt}>
  <img src={post.data.image3.src} alt={post.data.image3.alt}>
  <a href={`/mechanizmy-wyjazdu/${post.slug}/`}>Read about this item</a>
  )}
</Base>
